body{
    background-image: url(firstbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;   
    margin: 0;
    padding: 0;
}

.midle{
    text-shadow: 1px 5px 29px rgb(0, 0, 0);
    position: absolute;
    top: 40%;
    left: 36%;
    right: 20%;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.5cm;
    color: rgb(255, 255, 255);
    
}

.kicsi{
    text-transform: lowercase;
    font-size: 1cm;
}

a{
    color: rgb(255, 255, 255);
    
    
}


a:hover {
    color: rgba(255, 255, 255, 0.354);
  }